<a href="https://colab.research.google.com/github/shanmukhasai048/data/blob/main/214516_python_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
print (s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
dates = pd.date_range('20130101 ', periods=6)
print (dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274
2013-01-06  1.086804  0.312392 -0.010419  0.335970

In [ ]:
df2 = pd.DataFrame({ ' A ' : 1.,
' B  ': pd.Timestamp('  20130102  '),
' C  ': pd.Series(1,index=list(range(4))),
' D ': np.array([3] * 4),
' E  ': pd.Categorical([" test "," train "," test "," train "]),
' F  ': ' foo'  })
print(df2)

    A         B     C     D       E     F
0  1.0 2013-01-02     1    3    test    foo
1  1.0 2013-01-02     1    3   train    foo
2  1.0 2013-01-02     1    3    test    foo
3  1.0 2013-01-02     1    3   train    foo

In [ ]:
df2.dtypes

 A             float64
 B      datetime64[ns]
 C               int64
 D               int64
 E            category
 F              object
dtype: object

In [ ]:
df.head()

                   A         B         C         D
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274

In [ ]:
df.head(4)

                   A         B         C         D
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207

In [ ]:
df.tail()

                   A         B         C         D
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274
2013-01-06  1.086804  0.312392 -0.010419  0.335970

In [ ]:
df.tail(4)

                   A         B         C         D
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274
2013-01-06  1.086804  0.312392 -0.010419  0.335970

In [ ]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.values

array([[-2.29454133, -0.88328591, -0.02423928, -0.69255992],
       [ 1.16200688, -3.04145814, -0.48672321, -0.06818411],
       [ 2.26682909,  0.98890235,  1.06677775, -0.45252731],
       [-0.58153932, -2.25559832,  1.72678266,  1.73320671],
       [-0.44572809, -2.00033699,  0.81331226, -1.24427392],
       [ 1.08680434,  0.31239224, -0.01041917,  0.33596999]])

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.198972 -1.146564  0.514249 -0.064728
std    1.626909  1.568923  0.828511  1.032379
min   -2.294541 -3.041458 -0.486723 -1.244274
25%   -0.547587 -2.191783 -0.020784 -0.632552
50%    0.320538 -1.441811  0.401447 -0.260356
75%    1.143206  0.013473  1.003411  0.234931
max    2.266829  0.988902  1.726783  1.733207

In [ ]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -2.294541    1.162007    2.266829   -0.581539   -0.445728    1.086804
B   -0.883286   -3.041458    0.988902   -2.255598   -2.000337    0.312392
C   -0.024239   -0.486723    1.066778    1.726783    0.813312   -0.010419
D   -0.692560   -0.068184   -0.452527    1.733207   -1.244274    0.335970

In [ ]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -0.692560 -0.024239 -0.883286 -2.294541
2013-01-02 -0.068184 -0.486723 -3.041458  1.162007
2013-01-03 -0.452527  1.066778  0.988902  2.266829
2013-01-04  1.733207  1.726783 -2.255598 -0.581539
2013-01-05 -1.244274  0.813312 -2.000337 -0.445728
2013-01-06  0.335970 -0.010419  0.312392  1.086804

In [ ]:
df.sort_values(by='C')

                   A         B         C         D
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-06  1.086804  0.312392 -0.010419  0.335970
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207

In [ ]:
df['A']

2013-01-01   -2.294541
2013-01-02    1.162007
2013-01-03    2.266829
2013-01-04   -0.581539
2013-01-05   -0.445728
2013-01-06    1.086804
Freq: D, Name: A, dtype: float64

In [ ]:
df[0:3]

                   A         B         C         D
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527

In [ ]:
df[3:3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
df[2:5]

                   A         B         C         D
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-04 -0.581539 -2.255598  1.726783  1.733207
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274

In [ ]:
df.loc[dates[3]]

A   -0.581539
B   -2.255598
C    1.726783
D    1.733207
Name: 2013-01-04 00:00:00, dtype: float64

In [ ]:
df.loc[:,['A','B']]
#FULL LOCATIONS OF INDIVIDUAL COLOUM

                   A         B
2013-01-01 -2.294541 -0.883286
2013-01-02  1.162007 -3.041458
2013-01-03  2.266829  0.988902
2013-01-04 -0.581539 -2.255598
2013-01-05 -0.445728 -2.000337
2013-01-06  1.086804  0.312392

In [ ]:
df.loc['20130102':'20130105',['A','D']]
# GROUP LOCATONS

                   A         D
2013-01-02  1.162007 -0.068184
2013-01-03  2.266829 -0.452527
2013-01-04 -0.581539  1.733207
2013-01-05 -0.445728 -1.244274

In [ ]:
df.loc[dates[1],'B']
#PARTICULAR LOCATION

-3.041458141204593

In [ ]:
df.at[dates[1],'B']

-3.041458141204593

In [ ]:
df.iloc[3]

A   -0.581539
B   -2.255598
C    1.726783
D    1.733207
Name: 2013-01-04 00:00:00, dtype: float64

In [ ]:
df.iloc[[1,2,4],[0,2]]
# PRINTS THE ROW OR COLOUM WHICH WE WNT

                   A         C
2013-01-02  1.162007 -0.486723
2013-01-03  2.266829  1.066778
2013-01-05 -0.445728  0.813312

In [ ]:
 df.iloc[1:3,:]
#PRINTNG PARTICULAR ROWS AND ALL COLOMS

                   A         B         C         D
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527

In [ ]:
df.iloc[:,1:3]
 
#PRINTNG PARTICULAR COLOUM AND ALL ROWS

                   B         C
2013-01-01 -0.883286 -0.024239
2013-01-02 -3.041458 -0.486723
2013-01-03  0.988902  1.066778
2013-01-04 -2.255598  1.726783
2013-01-05 -2.000337  0.813312
2013-01-06  0.312392 -0.010419

In [ ]:
df.iloc[1,1]
 # PRINTING PERFECT LOC

-3.041458141204593

In [ ]:
df.iat[1,1]

-3.041458141204593

In [ ]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184
2013-01-03  2.266829  0.988902  1.066778 -0.452527
2013-01-06  1.086804  0.312392 -0.010419  0.335970

In [ ]:
df[df > 0]
#PRINTS THE OUT PUT WHICH IS ABOVE "0"

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02  1.162007       NaN       NaN       NaN
2013-01-03  2.266829  0.988902  1.066778       NaN
2013-01-04       NaN       NaN  1.726783  1.733207
2013-01-05       NaN       NaN  0.813312       NaN
2013-01-06  1.086804  0.312392       NaN  0.335970

In [ ]:
df[df < 0]
#PRINTS THE OUT PUT WHICH IS BELOW "0"

                   A         B         C         D
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560
2013-01-02       NaN -3.041458 -0.486723 -0.068184
2013-01-03       NaN       NaN       NaN -0.452527
2013-01-04 -0.581539 -2.255598       NaN       NaN
2013-01-05 -0.445728 -2.000337       NaN -1.244274
2013-01-06       NaN       NaN -0.010419       NaN

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

                   A         B         C         D      E
2013-01-01 -2.294541 -0.883286 -0.024239 -0.692560    one
2013-01-02  1.162007 -3.041458 -0.486723 -0.068184    one
2013-01-03  2.266829  0.988902  1.066778 -0.452527    two
2013-01-04 -0.581539 -2.255598  1.726783  1.733207  three
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274   four
2013-01-06  1.086804  0.312392 -0.010419  0.335970  three

In [ ]:
df2[df2['E'].isin(['two','four'])]
#printing the particular row based on coloums output

                   A         B         C         D     E
2013-01-03  2.266829  0.988902  1.066778 -0.452527   two
2013-01-05 -0.445728 -2.000337  0.813312 -1.244274  four